.timeperiod-control {
	/* set explicit width to prevent resizing when making text bold */
	width: 164px;
}

.timeperiod-control .btn-group-vertical {
  width: 100%;
}
.timeperiod-control .panel-heading {
	padding: 5px;
}
.timeperiod-control .panel-heading h5 {
	margin: 0;
	font-weight: bold;
}