html, body { 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.ecem {
  background-color: #97283B;
}

#container {
	height: 100%;
  display: flex;
  flex-direction: column;
}

#ecem-banner div {
	max-width: 800px;
  margin: 0 auto;
}

#ecem-banner img {
	max-width: 100%;
  pointer-events: none;
}

#map {
  flex-grow: 1;
}

.leaflet-container {
  background: none;
}

/* remove leaflet's default sizes */
.polygon-label {
	margin: 0 !important;
	width: initial !important;
	height: initial !important;
}

/* make label appear centered at given coordinates */
.polygon-label h5 {
	margin: 0;
	transform: translate(-50%, -50%);
}

.c3-tooltip-container {
	z-index: 1000 !important;
}

.timeseries-popup .leaflet-popup-content {
	width: 600px;
	height: 300px;
}